.containerInput {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.container {
    margin-bottom: 3%;
    margin-top: 30%;
    padding: 10% 30% 10% 30%; 
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom left, #404040 0%, #1a1a1a 90%);
    color: #cccccc;
    border-radius: 1em;
    border: solid 1px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #1a1a1a inset;
    margin: 1% 1% 1% 1%;
    padding: 0 0 0 0;
    width: 100%;
    white-space: nowrap
}

.input {
    width: 60%;
    font-size: 2em;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background-color: #1a1a1a;
    color: #cccccc;
    border: none;
    margin-right: 3%;
}

.input:focus {
    outline: none;
}

.max-button:hover {
    cursor: pointer;
    color: #ffff00;
    /* background-color: #333333; */
}

.max-button {
    background-color: #1a1a1a;
    color: #ff9900;
    border: none;
    /* border: 1px #cccccc solid; */
    /* border-radius: 3px; */
    font-size: 1em;
}

.displayBalances {
    display: flex;
}