.container {
    background-color: white;
    padding: 3 18% 0 18%;
    width: 100%;
    padding-bottom: 5%;
}

.xs-container {
    background-color: white;
    padding: 3% 2% 0 2%;
    width: 100%;
    padding-bottom: 5%;
}

.xs-secondary-container {
    background-color: #121212;
    color: #cccccc;
    padding: 3% 2% 0 2%;
    width: 100%;
    padding-bottom: 5%;
    height: 100%;
}

.sm-container {
    background-color: white;
    padding: 3% 15% 0 15%;
    width: 100%;
    padding-bottom: 5%;
}

.sm-secondary-container {
    background-color: #121212;
    color: #cccccc;
    padding: 3% 15% 0 15%;
    width: 100%;
    padding-bottom: 5%;
    height: 100%;
}

.secondary-container {
    background-color: #121212;
    color: #cccccc;
    padding: 3% 15% 0 18%;
    width: 100%;
    padding-bottom: 5%;
    height: 100%;
}

.lg-container {
    background-color: white;
    padding: 3% 30% 0 30%;
    width: 100%;
    padding-bottom: 5%;
}

.lg-secondary-container {
    background-color: #121212;
    color: #cccccc;
    padding: 3% 30% 0 30%;
    width: 100%;
    padding-bottom: 5%;
    height: 100%;
}