.container {
    background-color: #1a1a1a ;
    border-radius: 1rem;
    margin-top: 12%;
    padding: 3% 5% 5% 5%;
}

.contained {
    display: flex;
}

.select {
    padding: 0 5% 5% 5%;
    width: 100%;

}

.display-button {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 50px;
}