.swap-container {
    color: white;
    border: 1px white solid;
    border-radius: 1rem;
    padding: 5% 5% 5% 5%;
    background-color: #1a1a1a ;
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #0ab5db;
    padding-bottom: 3%;
}

.card-subtitle {
    padding-bottom: 5%;
}
